.NetworkInfo {
    margin-top: 3em;
}

.KvRow {
    padding-top: 0.5em;
}

.NetworkStatus {
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 999px;
    margin-right: 0.5em;
    transition: all ease-in-out 0.3s;
}

.NetworkStatusOnline {
    @extend .NetworkStatus;
    background-color: #0F0;
}

.NetworkStatusOffline {
    @extend .NetworkStatus;
    background-color: gray;
}

.MissingValue {
    color: #CCC;
}

dt {
    display: inline-block;
    font-weight: bold;
    min-width: 100px !important;
    text-transform: capitalize;
}

dd {
    display: inline-block;
}